@import './variables';
@import './mixins';

.favorites-pg-container {
    @include articles-list-other-pages;
    display: flex;
}
.favorites-pg-content {
    width: calc(100% - 300px);
}
.no-favorites {
    @include heading;
    font-size: 30px;
    text-align: center;
}
.no-favorites:hover {
    color: black;
}
.explore-btn {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    background-color: $accent-color;
    color: white;
    border-radius: $border-radius;
    padding: 10px;
}
.explore-btn:hover {
    color: $accent-color;
    border: 1px solid $accent-color;
}
h2 {
    @include heading;
    font-size: 35px;
    text-align: center;
}
