@import './variables';
@import './mixins';

.menu-item-active,
.menu-item {
    font-family: 'Inter';
    font-size: 16px;
    display: flex;
    align-items: center;
    @include heading;
}

.menu-item-active {
    color: $accent-color;
}
