@import './variables';
@import './mixins';

.author-item {
    color: black;
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
    border-radius: $border-radius;
    border: 1px solid $text-color;
    text-align: center;
    font-size: 18px;
    p {
        margin: 8px;
    }
    .fb-icon,
    .twitter-icon,
    .inst-icon {
        @include social-media-icon-small;
    }
}
.author-item:hover {
    background-color: $author-background;
}
.author-name {
    @include heading;
    font-size: 23px;
}

.author-count {
    background-color: $accent-color;
    @include count;
}
