@import './variables';
@import './mixins';

.right-sidebar {
    width: 300px;
    position: relative;
    margin-bottom: 30px;

    h3 {
        font-size: 16px;
    }

    .categories {
        flex-direction: column;
        gap: 15px;
    }

    .category-item {
        height: 75px;
        img {
            height: 75px;
            width: 300px;
        }
    }
    .category-text {
        justify-content: space-around;
    }

    .article-title {
        font-size: 14px;
    }

    .article-author a,
    .article-date {
        font-size: 12px;
        line-height: 28px;
    }

    .article {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        margin: 10px auto;
        img {
            height: 85px;
            width: 85px;
        }
    }
}
