@import './variables';
@import './mixins';

.main-slider {
    width: 60%;
    --swiper-navigation-size: 40px;
    --swiper-theme-color: white;
    border-radius: 20px;
}
.main-swiper-slider {
    img {
        @include image-positioning;
        max-height: 550px;
        position: relative;
    }

    .article-category {
        position: static;
        margin: 10px;
    }

    .article-data {
        position: absolute;
        top: 50%;
        padding: 20px;
    }

    .article-title {
        font-size: 37px;
        font-weight: 600;
        color: white;
    }

    .article-info {
        font-size: 14px;
        color: white;
        a {
            color: white;
        }
    }
}
