.side-slider {
    max-width: 35%;
    max-height: 550px;
}
.side-swiper-slide {
    display: flex;
    border-bottom: 1px solid #c1c3bf;
    height: fit-content;
    padding: 5px 15px;
    align-items: center;
    width: fit-content;
    img {
        border-radius: 20px;
        object-fit: cover;
        aspect-ratio: 1;
    }
    .article-category {
        position: static;
        margin: 5px;
        font-size: 12px;
    }
    .article-text {
        display: flex;
        width: calc(100% - 110px);
        flex-direction: column;
        justify-content: center;
    }
    .article-title {
        font-size: 17px;
    }
    .article-info {
        font-size: 12px;
    }
    .article-date::after {
        content: '';
    }
}
