@import './variables';
@import './mixins';

.side-slider {
    max-width: 35%;
    max-height: 550px;
}
.side-swiper-slide {
    display: flex;
    border-bottom: 1px solid $author-background;
    height: fit-content;
    padding: 5px 15px;
    align-items: center;
    width: fit-content;

    .article {
        display: flex;
        gap: 10px;
        flex-direction: row-reverse;
    }

    .article-category {
        position: static;
        margin: 5px;
        font-size: 12px;
    }
    img {
        width: 110px;
    }
    .article-title {
        font-size: 17px;
    }

    .article-info {
        font-size: 13px;
    }
}
