.subscribed-modal {
    max-width: 340px;
    max-height: 290px;
    position: fixed;
    top: (calc(50vh - 145px));
    left: (calc(50vw - 170px));
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: aqua;
}
