@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:ital,wght@0,600;1,600&display=swap');
@import './variables';
@import './mixins';

::-moz-selection {
    background-color: $accent-color;
    color: #fff;
}
::selection {
    background-color: $accent-color;
    color: #fff;
}

body,
html {
    font-family: 'Inter', sans-serif;
}
a {
    color: white;
    text-decoration: none;
}
.sticky {
    position: sticky;
    top: 75px;
}

.main-container {
    margin-top: 75px;
}

.home-sliders-container {
    display: flex;
    gap: 35px;
    margin-bottom: 35px;
}

.articles-sidebar-container {
    display: flex;
}

.articles-list {
    margin: auto 25px;
}
