@import './variables';
@import './mixins';

.footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
}

.doc-link {
    @include heading;
    font-size: 16px;
    margin: 0 10px;
    color: white;
}
