.inst-icon {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    color: white;
}

.social-media-icons {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.fb-icon {
    background-color: #45629f;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    color: white;
}

.pinterest-icon {
    background-color: #e02321;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    color: white;
}
.twitter-icon {
    background-color: #5eb2ef;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    color: white;
}
.spotify-icon {
    background-color: #64e391;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    color: white;
}
