@import './variables';
@import './mixins';

.inst-icon {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    @include social-media-icon-big;
}

.social-media-icons {
    display: flex;
    justify-content: center;
}

.fb-icon {
    background-color: #45629f;
    @include social-media-icon-big;
}

.pinterest-icon {
    background-color: #e02321;
    @include social-media-icon-big;
}
.twitter-icon {
    background-color: #5eb2ef;
    @include social-media-icon-big;
}
.spotify-icon {
    background-color: #64e391;
    @include social-media-icon-big;
}
