.app-bar {
    background-color: whitesmoke;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.nav-menu {
    button {
        font-family: 'Inter';
        font-weight: 600;
        color: black;
        font-size: 16px;
        text-transform: capitalize;
    }
}
